<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Nuevo proveedor</nb-card-header>
      <nb-card-body>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Nombre</label>
              <input type="text" nbInput fullWidth placeholder="Nombre">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Razon social</label>
              <input type="text" nbInput fullWidth placeholder="Razon social">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Nit/Ci</label>
              <input type="text" nbInput fullWidth placeholder="Nit/Ci">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Tipo de documento</label>
              <nb-select fullWidth placeholder="Tipo de documento">
                <nb-option *ngFor="let par of TParTipoDocumento" [value]="par.Id">{{par.Descripcion}}</nb-option>
              </nb-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label class="label">Correo electronico</label>
              <input type="text" nbInput fullWidth placeholder="Correo electronico">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="label">Casilla</label>
              <input type="text" nbInput fullWidth placeholder="Casilla">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Tipo de persona</label>
              <nb-select fullWidth placeholder="Tipo de persona">
                <nb-option *ngFor="let par of TParTipoPersona" [value]="par.Id">{{par.Descripcion}}</nb-option>
              </nb-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Dirección</label>
              <input type="text" nbInput fullWidth placeholder="Dirección">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="label">Teléfono 1</label>
              <input type="text" nbInput fullWidth placeholder="Teléfono 1">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="label">Teléfono 2</label>
              <input type="text" nbInput fullWidth placeholder="Teléfono 2">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Lugar</label>
              <input type="text" nbInput fullWidth placeholder="Lugar">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Tipo de servicio</label>
              <nb-select fullWidth placeholder="Tipo de servicio">
                <nb-option *ngFor="let par of TParTipoServicio" [value]="par.Id">{{par.Descripcion}}</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="label">Relación</label>
              <input type="text" nbInput fullWidth placeholder="Relación">
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="row">
          <div class="col-md-12 text-center">
            <button nbButton status="primary" outline>
              Limpiar formulario
            </button>
            <button nbButton status="success" outline>
              Agregar proveedor
            </button>
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Proveedores agregados</nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>